.nav-bar{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 2px 2px 6px;
    margin-bottom: 2rem;
}
.heading {
    font-family: cursive;
}