h3 {
    display:flex;
    justify-content: center;
}

.create {
    box-shadow: 2px 2px 6px;
    padding: 2rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.around-button {
    margin-top: 1rem;
}
.add-song {
    border-style:none;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    color:white;
    background-color:rgb(106, 60, 149);
}