ul {
    display:flex;
    list-style-type: none;
    justify-content:space-between;
    padding-right: 1rem;
    padding-left: 0rem;
}

div {
    font-family: cursive;
}
.add {
    border-style: none;
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    color: white;
    background-color:rgb(106, 60, 149);

}
.navbar {
    margin-left: 1rem;
    margin-bottom: 1rem;
}