ul {
    display:flex;
    list-style-type: none;
    justify-content:space-between;
    padding-right: 1rem;
    padding-left: 0rem;
}
.add {
    display: flex;
    justify-content: center;
}
div {
    font-family: cursive;
}